.reset {
  font-family: inherit;
  font-size: 0.875rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: inherit;
  padding: 1px 10px;
  margin-top: 30px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #ccc;
  outline: none;
}

.reset:hover {
  cursor: pointer;
  color: #f2f2f2;
  border-color: #f2f2f2;
}