* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  font-size: 1.125rem;
  text-align: center;
  background-color: #030B16;
  color: #F2F2F2;
}

#root {
  width: 100%;
  height: 550px;
  margin: 50px auto;
  padding-top: 50px;
  background: #801818;
  background: linear-gradient(90deg, rgb(129, 24, 24) 55%, rgb(108, 20, 20) 1%, rgb(129, 24, 24), rgb(108, 20, 20));
  background-size: 50px;
  box-shadow: 0 5px 20px 10px #030b16 inset;
}

@media screen and (min-width: 720px) {
  #root {
    width: 720px;
  }
}